@model IdentityRole

<li class="row pyjamas">
    <div class="col-md-4 col-vcentered">@Model.Id</div>
    <div class="col-md-4 col-vcentered">@Model.Name</div>
    <div class="col-md-4">
        @if (@Model.Name == "Admin" || @Model.Name == "NormalUser")
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-dark m-1 disabled" title="To be done">Edit</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-primary m-1" title="To be done">Details</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-dark m-1 disabled" title="To be done">Delete</a>
        }
        else
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-dark m-1 disabled" title="To be done">Edit</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-primary m-1" title="To be done">Details</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-primary m-1" title="To be done">Delete</a>
        }
    </div>
</li>


